form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, button {
    width: 30vw;
}

#colValidate, #rowValidate {
    color: red;
}


.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.row {
    display: flex;
    flex-wrap: wrap;

}

.cell {
    height: 15px;
    width: 15px;
    border: solid 1px black;
}

.selected {
    background-color: blue;
}